body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

input {
    width: 50px;
    text-align: center;
    margin: 0 5px;
    padding: 10px;
}

button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#timer {
    margin-top: 10px;
    font-size: 12ch;
}